* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin-top: 122px; 
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 1000;
    backdrop-filter: blur(12px);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 22px;
  }
  
  .nav a {
    color: #4d94ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger i {
    font-size: 24px;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: rgba(52, 58, 64, 0.9);
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
    overflow: hidden;
  }
  
  .sidebar ul {
    list-style: none;
    padding-top: 100px;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .show-sidebar {
    left: 0;
  }
  
  .dimmed {
    filter: brightness(50%);
  }

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    color: #4d94ff;
    transition: color 0.3s ease;
}
  
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  /* Section Styles */
  section {
    padding: 120px 20px;
    text-align: center;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    color: #4d94ff;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
  }
  
  h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #ffeb3b;
    margin: 20px auto;
  }
  
  p {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 1.8;
  }
  
  #home {
    background: linear-gradient(135deg, #2196F3, #21CBF3);
    color: #333;
  }
  
  #home h1, #home p {
    color: #fff;
  }
  
  #about {
    background-color: #f9f9f9;
  }
  
  #services {
    background-color: #fff;
  }
  
  #contact {
    background: linear-gradient(135deg, #0D47A1, #00BCD4);
  }
  
  #contact h1, #contact p {
    color: #fff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  